<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>440291686165-k5kcelh2t8nll4r4p9d0r3lc8ssqr5fk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440291686165-k5kcelh2t8nll4r4p9d0r3lc8ssqr5fk</string>
	<key>API_KEY</key>
	<string>AIzaSyD0CdQBtA7NNbQd3_oYVeEA1f4vRbJsriw</string>
	<key>GCM_SENDER_ID</key>
	<string>440291686165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zentai.zentai</string>
	<key>PROJECT_ID</key>
	<string>zentai-40971</string>
	<key>STORAGE_BUCKET</key>
	<string>zentai-40971.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:440291686165:ios:d7a93bee42ab4f71</string>
	<key>DATABASE_URL</key>
	<string>https://zentai-40971.firebaseio.com</string>
</dict>
</plist>